---
layout: main
title: Data test
---

<h2>Cats</h2>

<ul>
{% for cat in cats %}
<li>{{ cat.name }} is {{ cat.age }} years old and is {{ cat.gender }}</li>
{% endfor %}
</ul>

<h2>Films</h2>

<ul>
{% for film in films %}
<li>{{ film.title }} came out in {{ film.release_date }}</li>
{% endfor %}
</ul>
